/**** ELEMENT SELECTORS ****/

body {
  font-family: montserrat,arial, sans-serif;
  font-size: 2rem;
  background-color: #262626;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/***** CLASS SELECTORS *****/

/* POKEMON LIST */
.pokemon-list {
  margin: 30px auto;
  max-width: 80%;
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.pokemon-list li {
  flex: 1 0 40%;
  margin: 10px 0 0 10px;
}

.list-heading {
  border: 1px solid gray;
  background-color: lightgray;
  color: #000;
  text-align:center;
}

.pokedex-button {
  font-family: montserrat,arial, sans-serif;
  /* border: 1px solid gray;
  background-color: lightgray;
  color: #000; */
  text-decoration: none;
  height:50px;
  width:100%;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.pokemon-properties-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MODAL */

/* #modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity:0;
  -webkit-transition: visibility 0s, opacity 0.5s;
}

#modal-background.is-visible {
  display:block;
  z-index: 1;
} */

.modal.is-visible {
  display: block;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
}

.pokemon-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/****** ID SELECTORS ******/

#modal-container {
  display:none;
  background-color: lightgray;
  width: 50%;
  height: 40%;
  min-height: 200px;
  left: 25%;
  top: 30%;
  position: fixed;
  color: #000;
}

#modal-container.is-visible {
  display: block;
  }

/* MEDIA QUERIES */

@media all and (min-width:1200px) {
  .pokemon-list {
    width: 1200px;
  }
  .pokemon-list li {
    flex: 1 0 16%;
  }
}
