body {
  font-family: montserrat,arial, sans-serif;
  font-size: 2rem;
  background-color: #262626;
  color: #fff;
}

.pokemon-list {
  margin: 100px auto;
  max-width: 30%;
  list-style-type: none;
}

.list-heading {
  border: 1px solid gray;
  background-color: lightgray;
  color: #000;
  text-align:center;
}

.pokedex-button {
  font-family: montserrat,arial, sans-serif;
  border: 1px solid gray;
  background-color: lightgray;
  color: #000;
  text-decoration: underline;
  height:50px;
  width:100%;
  font-size: 1.25rem;
  text-transform: capitalize;
}

#modal-container {
  display:none;
  background-color: lightgray;
  width: 50%;
  height: 40%;
  min-height: 200px;
  left: 25%;
  top: 30%;
  position: fixed;
  color: #000;
}

#modal-container.is-visible {
  display: block;
  }

.modal-close {
  float: right;
  border: 0;
  background: none;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}
